<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="AhorcadoDBEntity" connectionString="metadata=res://*/ModelAhorcado.csdl|res://*/ModelAhorcado.ssdl|res://*/ModelAhorcado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ahorcadoserver.database.windows.net;initial catalog=AhorcadoDB;persist security info=True;user id=servidorahorcado;password=13F12E02M-;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="AhorcadoDBEntities" connectionString="metadata=res://*/ModelAhorcado.csdl|res://*/ModelAhorcado.ssdl|res://*/ModelAhorcado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ahorcadoserver.database.windows.net;initial catalog=AhorcadoDB;persist security info=True;user id=servidorahorcado;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>